{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  }
  /*  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:switch-case/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "switch-case"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-case-declarations": 0,
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "no-undef": "warn"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module"
  } */
}
